.app {
  margin: 1em;
}
.app input[type=number] {
  text-align: right;
  width: 4em;
}
.app-message-paste {
  background-color: palegreen;
  border: 2px solid currentColor;
  color: green;
  height: 5em;
  line-height: 5em;
  margin: auto;
  text-align: center;
  width: 75%;
}
