.AppHeader {
  background-color: #036;
  color: white;
  height: var(--app-header-height);
  line-height: var(--app-header-height);
  padding: 0 var(--app-space);
}
  .AppHeader a {
    color: inherit;
    text-decoration: none;
  }
  .AppHeader a:hover {
    text-decoration: underline;
  }
