.PotoCanvasClipper {
  --shadow-color: #3339;

  left: var(--app-space);
  position: absolute;
  top: var(--app-space);
}
  .PotoCanvasClipper-shadow {
    background-color: var(--shadow-color);
    position: absolute;
  }
  .PotoCanvasClipper-viewfinder {
    position: absolute;
  }
  path.PotoCanvasClipper-angles {
    fill: #333;
    stroke: #ccc;
  }
